python-docx
transformers
sentence-transformers
qdrant-client
langchain
langchain-community
langchain-qdrant
fastembed
langchain-google-genai
semantic-router
roman
fastapi
uvicorn
pydantic
python-dotenv
langchain-huggingface
torch --index-url https://download.pytorch.org/whl/cpu