python-docx
transformers
sentence-transformers
qdrant-client
langchain
langchain-community
langchain-qdrant
fastembed
langchain-google-genai
semantic-router
roman
fastapi
uvicorn
langchain-huggingface
